.col-xs-7 {
    width: 50.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    /* padding-right: 5px;
    padding-left: 5px */
}
.col-xs-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    /* padding-right: 15px; */
    padding-left: 15px
}

.col-xs-1 {
    width: 8.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    /* padding-right: 5px;
    padding-left: 5px */
}


  